@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

main {
  min-height: 80vh;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.propertyCard {
  margin: auto;
  max-width: 24rem;
}

.centeredText {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin: auto;
}

.centeredDiv {
  margin: auto;
  width: 90%;
}

.removeUnderline {
  text-decoration: none !important;
  display: inline-block;
}

.width-75w {
  max-width: none !important;
  width: 75% !important;
}

.auto-width {
  width: 'auto'
}

img.pointer {
  cursor: pointer;
}