@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

main {
  min-height: 80vh;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.propertyCard {
  margin: auto;
  max-width: 24rem;
}

.removeUnderline {
  text-decoration: none !important;
  display: inline-block;
}